@charset "UTF-8";
header {
 background:#0000ee;
 height:80px;
 line-height:80px;
 color : #ffffff;
 text-align:center;
 font-size : 30px;
}
nav {
 background:#6B66FF;
 height:35px;
 line-height:35px;
 color : #ffffff;
 font-size : 17px;
}
section{
 background:#eaeaea;
 min-height:550px;
 font-size : 17px;
 line-height:27px;
}
footer{
 background:#0022ff;
 height:40px;
 line-height:40px;
 color : #ffffff;
 font-size : 17px;
 text-align:center;
}